{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
  {% if messages %}
    <section class="container my-4">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
  {% endif %}

  <section class="search-section">
    <div class="container">
      <h1 class="hero-title text-center mb-5">Advanced Search For Units</h1>
      <div class="col-md-6 offset-md-3">
        <form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'advancedBuildingUnitInfo' %}">
          {% csrf_token %}
          <div class="form-group mb-3">
            {{ form.as_p }}
          </div>
          <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
  </section>

  {% if apartment %}
    <section class="container my-5">
      <div class="row">
        {% for uni in unit %}
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card h-100">
            <div class="card-header bg-primary text-white">
              <h5 class="card-title">Unit Number: {{ uni.1 }}</h5>
            </div>
            <div class="card-body">
              <p class="card-text">Monthly Rent: ${{ uni.2 }}</p>
              <p class="card-text">Bedrooms: {{ bedrooms|get_item:uni }} Bathrooms: {{ bathrooms|get_item:uni }}</p>
              <p class="card-text">Square Footage: {{ uni.3 }}</p>
              <p class="card-text">Available Move in Date: {{ uni.4 }}</p>
              <a href="{% url 'view_interest' uni.0 %}" class="btn btn-primary">View Interests</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>
  {% endif %}
{% endif %}
{% endblock %}