{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if messages %}
<section class="container my-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}
  <div class="hero-section d-flex justify-content-center align-items-center">
    <div class="container text-center">
      {% if user.is_authenticated %}
        <h1 class="hero-title">Welcome to Roomio</h1>
        <p class="hero-subtitle">Find your perfect roommate or rental.</p>
        <a href="{% url 'search_apartment' %}" class="btn btn-primary btn-lg">Start Exploring</a>
      {% else %}
        <h1 class="hero-title">Find Your Perfect Home</h1>
        <p class="hero-subtitle">Discover your dream apartment or roommate.</p>
        <a href="{% url 'register' %}" class="btn btn-primary btn-lg">Join Roomio</a>
      {% endif %}
    </div>
  </div>
{% endblock %}