<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-logo" href="{% url 'home' %}">Roomio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'search_apartment' %}"><i class="fas fa-home"></i> Apartments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'buildingUnitInfo' %}"><i class="fas fa-building"></i> Units</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'estimateRent' %}"><i class="fas fa-dollar-sign"></i> Estimate Rent</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'viewPet' %}"><i class="fas fa-paw"></i> Your Pets</a>
          </li>
        {% endif %}
      </ul>
      <ul class="navbar-nav ms-auto">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}"><i class="fas fa-user-plus"></i> Register</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>