{% extends 'base.html' %}


{% block content %}

{%if user.is_authenticated %}


{%if  pets %}
<div><h1>Pets</h1></div>
<div>
<button type="button" class="btn btn-dark"><a class="nav-link" href="{% url 'register_pet' %}">Register a Pet</a></button> 
</div>
    {%for pet in pets %}
    <div class="card">
        <h5 class="card-header">{{pet.1}}</h5>
        <div class="card-body">
          <h5 class="card-title"> {{pet.2}}</h5>
          <p class="card-text">Size: {{pet.3}}</p>
          <a href={%url 'update_pet' pet.0 %} class="btn btn-light">Update</a>
        </div>
      </div>
    {%endfor %}
{%else%}
<h1>No pets found.</h1><br/>
<div>
    <button type="button" class="btn btn-dark"><a class="nav-link" href="{% url 'register_pet' %}">Register a Pet</a></button> 
    </div>
{%endif%}

{%endif%}
{% endblock %}