{% extends 'base.html' %}


{% block content %}

{%if user.is_authenticated %}

<h1> Apartments</h1>
<br/>
<div class="col-md-6 offset-md-3">
<form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
</form>
</div>
{%if  apartments %}
    {%for apartment in apartments %}
    <div class="card">
        <h5 class="card-header">{{apartment.building_name}}</h5>
        <div class="card-body">
          <h5 class="card-title">Year Built: {{apartment.year_built}}</h5>
          <a href={%url 'apartment' apartment.id %} class="btn btn-dark">View Apartment</a>
        </div>
      </div>
    
    <!-- <button type="button" class="btn btn-dark">View Apartment</button> -->
    {%endfor %}
{%endif%}

{%endif%}
{% endblock %}