{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
<section class="search-section">
  <div class="container">
    <h1 class="hero-title text-center mb-5">Apartments</h1>
    <div class="col-md-6 offset-md-3">
      <form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'search_apartment' %}">
        {% csrf_token %}
        <div class="form-group mb-3">
          {{ form.as_p }}
        </div>
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
    {% if apartments %}
    <div class="row mt-5">
      {% for apartment in apartments %}
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card h-100">
          <div class="card-header bg-primary text-white">
            <h5 class="card-title">{{ apartment.2 }}</h5>
          </div>
          <div class="card-body">
            <p class="card-text">Year Built: {{ apartment.8 }}</p>
            <a href="{% url 'apartment' apartment.0 %}" class="btn btn-primary">View Apartment</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</section>
{% endif %}
{% endblock %}